*{
    margin: 0px;
    padding: 0px;
}
.header{
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: 140px auto auto auto;
    grid-template-rows: 100px auto 70px;
    width: 100%;
    height: 100vh;
}
.head{
    display:flex;
    background-color: #2f3e46;
    grid-column: 1 / 5;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #ced4da;
}
.titles{
    display: flex;
    flex-direction: column;
    grid-row: auto;
    grid-column: 1 / 2;
    background-color: #edf2f4;
    padding: 10px;
    font-size: 20px;
}
.titles > div > a {
    color: #0f4c5c;
    padding: 20px;
}
.main{
    grid-column: 2 / 5;
    background-color: #bde0fe; 
    padding: 20px;
    color: #011627;
}
.footer{
    grid-column: 1 / 5;
    background-color:#2f3e46;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #ced4da;
}
@media only screen and (max-width: 500px){
    .header{
        background-color: antiquewhite;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 100px 100px auto 80px;
        width: 100%;
        height: 100vh;
    }
    .head{
        background-color: #2f3e46;
        grid-column: 1 / 2;
    }
    .titles{
        background-color: #edf2f4;
        grid-column: 1 / 2;
    }
    .main{
        background-color: #bde0fe; 
        grid-column: 1 / 2;
    }
    .footer{
        background-color:#2f3e46;
        grid-column: 1 / 2;
    }
}